a{
    font-family: 'Quicksand', sans-serif;

}

.café{
    height: 200px;
}


.img1{
    width: 100px;
    height: 100px;
  }
  
.trolls{
    background-color: #316db5;
}

legend{
    font-family: 'Lilita One', sans-serif;
}

.footer{
    background-color: #C3332A;
}

.footer_mini{
    font-size: small;
}

svg{
    width: 35px;
    height: 35px;
    color: white;

}

